In [8]:
grade = 91
if grade >= 90: 
    print('Congratulations! Your grade of', grade, 'earns you an A in this course')

Congratulations! Your grade of 91 earns you an A in this course

In [34]:
print('number\tsquare\tcube')
number = 0
print(number,'\t',number*number,'\t',number*number*number)
number = 1
print(number,'\t',number*number,'\t',number*number*number)
number = 2
print(number,'\t',number*number,'\t',number*number*number)
number = 3
print(number,'\t',number*number,'\t',number*number*number)
number = 4
print(number,'\t',number*number,'\t',number*number*number)
number = 5
print(number,'\t',number*number,'\t',number*number*number)

number	square	cube
0 	 0 	 0
1 	 1 	 1
2 	 4 	 8
3 	 9 	 27
4 	 16 	 64
5 	 25 	 125

In [39]:
print('num\tsub\tdiv')
num = 30
print(num,'\t',num-10,'\t',num/5)
num = 50
print(num,'\t',num-10,'\t',num/5)
num = 110
print(num,'\t',num-10,'\t',num/5)
num = 140
print(num,'\t',num-10,'\t',num/5)
num = 200
print(num,'\t',num-10,'\t',num/5)

num	sub	div
30 	 20 	 6.0
50 	 40 	 10.0
110 	 100 	 22.0
140 	 130 	 28.0
200 	 190 	 40.0

In [ ]:
integer =