In [6]:
passes = 0
students = 10

for student in range(10):
    result = int(input('Enter result (1=pass, 2=fail): '))
    if result == 1:
        passes += 1
    elif result == 2:
        pass
    else:
        print('Invalid response. Please try again.')

failures = students - passes

print('Passed: ', passes)
print('Failures: ', failures)

if passes > 8:
    print('Bonus to instructor')

Passed:  10
Failures:  0
Bonus to instructor

In [7]:
a=b=7

In [10]:
print('a =', a, '\nb =', b)

a = 7
b = 7

In [12]:
for row in range(3):
    for column in range(4):
        print(row)
        print(column)

0
0
0
1
0
2
0
3
1
0
1
1
1
2
1
3
2
0
2
1
2
2
2
3

In [13]:
for row in range(4):
    for column in range(5):
        print('<' if row % 2 ==1 else '>', end='')
    print()

>>>>>
<<<<<
>>>>>
<<<<<

In [14]:
for row in range(2):
    for column in range(13):
        print('@', end='')
    print()

@@@@@@@@@@@@@
@@@@@@@@@@@@@

In [20]:
for number in range(6):
    print(f'{number}\t{number**2}\t{number**3}')

0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125

In [41]:
integer1 = int(input('Enter first integer: '))
integer2 = int(input('Enter second integer: '))
integer3 = int(input('Enter third integer: '))

#sum = (integer1 + integer2 + integer3)

#average = (sum/3)

#product = (integer1 * integer2 * integer3)

if integer1 > integer2:
    biggest = integer1
    if integer3 > biggest:
        biggest = integer3
if integer2 > integer3:
    biggest = integer2
    if integer1 > biggest:
        biggest = integer1
if integer3 > integer2:
    biggest = integer3
    if integer1 > biggest:
        biggest = integer1

biggest

100

In [49]:
#3.9
five_digit = int(input('Enter a integer: '))

for number in str(five_digit):
    print(number, end=' ')

4 2 3 3 9

In [68]:
#3.9
"""Use a loop that in each iteration “picks off” one digit (left to right)
using the // and % operators, then displays that digit."""

five_digit = int(input('Enter a integer: '))

divisor = 100000

while divisor >= 1:
    digit = five_digit // divisor
    print(int(digit), end=' ')
    five_digit = five_digit % divisor
    divisor = divisor / 10

1 2 3 4 5 6

In [ ]:
p = 1000
r = 0.07

for n in range(1, 31):
    a = p * (1 + r) ** n
    print(a)