In [5]:
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
total = number1 + number2
print('First integer:', number1, 'Second integer:', number2,'Sum:', total)

First integer: 6 Second integer: 9 Sum: 15

In [8]:
a=7
b=7
print('a =', a, '\nb =', b)

a = 7
b = 7

In [13]:
for row in range(10):
    print('<' if row % 2 ==1 else '>', end='')
    print(row)

>0
<1
>2
<3
>4
<5
>6
<7
>8
<9

In [17]:
for row in range(10):
    for column in range(10):
        print('<' if row % 2 ==1 else '>', end='')
    print()

>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<

In [36]:
for row in range(2):
    for column in range(7):
        print('@',end='')
    print()

@@@@@@@
@@@@@@@

In [52]:
power = 7
while power <= 1000:
    power = power * 7

power

2401

In [53]:
for character in 'Programming':
    print(character, end=' ')

P r o g r a m m i n g

In [57]:
print(10, 20, 30, sep=', ')

10, 20, 30

In [59]:
total = 0
for number in range(1000001):
    total = total + number

total

500000500000

In [61]:
#Set total to zero
#Set grade counter to zero
#Set grades to a list of the ten grades

#For each grade in the grades list:
#   Add the grade to the total
#   Add one to the grade counter

total = 0  
grade_counter = 0
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94] # list of 10 grades


for grade in grades:
    total += grade  
    grade_counter += 1  
average = total / grade_counter
print(f'Class average is {average}')

Class average is {average}

In [65]:
number1 = 7
number2 = 5

print(f'{number1} times {number2} is {number1*number2}')

7 times 5 is 35

In [72]:
#Initialize passes to zero
#Initialize failures to zero

#For each of the ten students
#        Input the next exam result

#        If the student passed
#                Add one to passes
#        Else
#                Add one to failures
#
#Display the number of passes
#Display the number of failures

#If more than eight students passed
#        Display “Bonus to instructor”
passes = 0
failures = 0

for student in range(10):
    result = int(input('Enter result (1=pass, 2=fail): '))

    if result ==1:
        passes = passes + 1
    else:
        failures = failures + 1

print('Passed:', passes)
print('Failed:', failures)

if passes > 8:
    print('Bonus to instructor')

Passed: 5
Failed: 5

In [76]:
#"""Use a for statement to input two integers. Use a nested if…else statement to display whether each value is even or odd. Enter 10 and 7 to test your code."""
for count in range(2):
    value = int(input('Enter an integer: '))
    if value % 2 == 0:
        print(f'{value} is even')
    else:
        print(f'{value} is odd')

2 is even
4 is even

In [80]:
i = 1
j = 2
k = 3
m = 2

(i >= 1) and (j < 4)

False

In [83]:
(m <= 99) and (k < m)

False

In [82]:
(j >= i) or (k == m)

True

In [84]:
(k + m < j) or (3 - j >= k)

False

In [85]:
not (k > m)

False